/* Give the main header an underline. */

h1 {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid #ddd;
}

/* Adjust display of code in headers. */

:is(h1, h2, h3, h4, h5) code {
  font-size: 100%;
  padding: 0;
  border: none;
  background: none;
}

/* Add small subtitles. */

.subtitle {
  margin-top: -10.5px;
  color: #bbb;
}

/* Display definition lists in grid form. */

dl {
  display: grid;
  grid-template-columns: fit-content(25%) auto;
}

dt {
  font-weight: normal;
  text-align: right;
  padding: 2px 4px;
}

dd {
  margin: 0;
  padding: 2px 4px;
}